{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h3 class="text-center">App Store</h3> <p></p>
  <form method="POST" action="/app_store">
      {{ search_form.hidden_tag() }}
      <fieldset class="form-group">
        <div class="content-section">
          <div class="row image-container">
            <div class="form-group column search-bar">
                {% if search_form.search.errors %}
                    {{ search_form.search(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in search_form.search.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                  <div onsubmit="loading();">
                    {{ search_form.search(autocomplete="off", class="form-control form-control-lg") }}
                  </div>
                {% endif %}
            </div>
            <div class="column search-icon">
              {{ search_form.go(class="btn btn-dark", value='Search') }}
            </div>
          </div>
          <div class="row image-container">
            <div class="form-check column">
                {{ search_form.by_name(class="form-check-input") }}
                {{ search_form.by_name.label(class="form-check-label") }}
            </div>
            <div class="form-check column">
                {{ search_form.by_description(class="form-check-input") }}
                {{ search_form.by_description.label(class="form-check-label") }}
            </div>
            <div class="form-check column" >
                {{ search_form.by_author(class="form-check-input") }}
                {{ search_form.by_author.label(class="form-check-label") }}
            </div>
          </div>
          {% if search_term %}
          <p></p>
          <div class="border-bottom border-dark grey-text">
            <b>Searching: </b>{{ search_term }} | {{ num_results }} results
            <a href="{{ url_for('application_store.app_store') }}">
            <img class="store-icon" align="right" src="{{ url_for('static', filename='icons/close.svg') }}" width="16px" height="16px">
            </a>
          </div>
          {% endif %}
        </div>
      </fieldset>
  </form>
  </div>
  <div class="row image-container">
    <div class="column">
      <a href="{{ url_for('application_system.upload') }}">
      <img class="store-icon" src="{{ url_for('static', filename='icons/edit.svg') }}" width="24px" height="24px" data-toggle="tooltip" data-placement="top" title="Create Application">
      </a>
    </div>

    <a data-toggle="collapse" href="#install-pkg" role="button" aria-expanded="false" aria-controls="collapseExample">
      <img class="store-icon column"
           src="{{ url_for('static', filename='icons/upload.svg') }}"
           width="24px" height="24px" data-toggle="tooltip" data-placement="top" title="Install Local Package">
    </a>
  </div>

  <div class="collapse mt-4" id="install-pkg">
    <div class="image-container">
      <div class="content-section vector-box">
        <form method="POST" action="" enctype="multipart/form-data">
          {{ install_form.hidden_tag() }}
          <fieldset class="form-group">
            <div class="form-group">
              <h3 class="text-center">{{ install_form.package.label() }}</h3>
                {{ install_form.package(class="form-control-file") }}
              </div>
              <div class="form-group image-container">
                {{ install_form.install(class="btn btn-dark", value='Install') }}
              </div>
              <div class="image-container">
                <a data-toggle="collapse" href="#install-pkg" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <img src="{{ url_for('static', filename='icons/close.svg') }}"
                       width="32px" height="32px" class="close-icon">
                </a>
              </div>
          </fieldset>
        </form>
      </div>
    </div>

  </div>
  <p></p>
  <div class="content-section">
    <div class="border-bottom border-dark mb-4">
      {% for app in app_list %}
      <div class="pt-3">
        {% if app.installed == True %}
          <div>
            <img class="store-icon" align="right" src="{{ url_for('static', filename='icons/installed.svg') }}" width="20px" height="20px" data-toggle="tooltip" data-placement="top" title="Installed">
          </div>
        {% elif app.installed == False %}
          <div>
            <a href="{{ url_for('application_store.install_store_application', script_id=app.id) }}">
            <img class="store-icon" align="right" src="{{ url_for('static', filename='icons/download.svg') }}" width="20px" height="20px" data-toggle="tooltip" data-placement="top" title="Install">
            </a>
          </div>
        {% endif %}
        <div>
          <img class="store-icon"
               align="right"
               src="{{ url_for('static', filename='icons/info.svg') }}"
               width="18px"
               height="18px"
               data-toggle="popover"
               data-placement="left"
               title="<img src='{{ url_for('static', filename='app_icons/' + app.icon) }}' height='48px' width='48px'> {{ app.script_name }} <a href='#' class='close' data-dismiss='alert'>&times;</a>"
               data-html="true"
               data-content="
          <p><b>Author:</b> {{ app.author }}</p>
          <p><b>Website:</b> {{ app.website }}</p>
          <p><b>Description:</b> {{ app.description }}</p>
          ">
        </div>
        <div align="left">
          <img class="store-icon-main" src="{{ url_for('static', filename='app_icons/' + app.icon) }}" width="48px" height="48px">
          <b>{{ app.script_name }}</b>
        </div>
      </div>
      <div class="border-top border-dark mt-4 mb-4"></div>
      {% endfor %}
    </div>
  </div>

  <div class="content-section text-center grey-text-md mb-4 mt-4">
    <a href="https://goo.gl/forms/OXI4jWu7hEDRAKd23">Submit an App to the App Store</a>

{% endblock content %}
