{% extends "utility_window.html" %}
{% block content %}
<div class="container">
  <div class="content-section">
      <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <legend class="border-bottom border-dark mb-4 text-center">Editing: {{ store_app.script_name }}</legend>
              <div class="form-group">
                  {{ form.script_name.label(class="form-control-label") }}
                  {% if form.script_name.errors %}
                      {{ form.script_name(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.script_name.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.script_name(autocomplete="off", class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="form-group">
                  {{ form.description.label(class="form-control-label") }}
                  {% if form.description.errors %}
                      {{ form.description(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.description.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.description(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="form-group">
                  {{ form.author.label(class="form-control-label") }}
                  {% if form.author.errors %}
                      {{ form.author(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.author.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.author(autocomplete="off", class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="form-group">
                  {{ form.website.label(class="form-control-label") }}
                  {% if form.website.errors %}
                      {{ form.website(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.website.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.website(autocomplete="off", class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="form-group">
                  {{ form.icon.label(class="form-control-label") }}
                  {% if form.icon.errors %}
                      {{ form.icon(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.icon.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.icon(autocomplete="off", class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="form-group">
                  {{ form.zip_file.label(class="form-control-label") }}
                  {% if form.zip_file.errors %}
                      {{ form.zip_file(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.zip_file.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.zip_file(autocomplete="off", class="form-control form-control-lg") }}
                  {% endif %}
              </div>
          </fieldset>
          <div class="form-group">
              {{ form.update(class="btn btn-dark") }}
              <a href="{{ url_for('application_store.app_store_admin_add') }}" class="btn btn-dark" onclick="loading();" role="button">Cancel</a>
          </div>
      </form>
  </div>
</div>
{% endblock content %}
