{% extends "utility_window.html" %}
{% block content %}
<div class="container content-section">
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        <h3 class="text-center">{{ form.package.label() }}</h3>
          {{ form.package(class="form-control-file") }}
        </div>
        <div class="form-group">
          {{ form.install(class="btn btn-dark") }}
          <a href="{{ url_for('application_store.app_store') }}" class="btn btn-dark" onclick="loading();" role="button">Cancel</a>
        </div>
    </fieldset>
  </form>
</div>
{% endblock content %}
