{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom border-dark mb-4 text-center">Upload SDK Application
                  <img align="right"
                       class="legend-icon"
                       src="{{ url_for('static', filename='icons/info.svg') }}"
                       width="24px"
                       height="24px"
                       data-toggle="popover"
                       data-placement="left"
                       title="Uploading an SDK Application <a href='#' class='close' data-dismiss='alert'>&times;</a>" data-html="true" data-content="
                  <p><b>Name:</b> Choose your application's name</p>
                  <p><b>Description:</b> (optional) Choose your application's description. This could include its function or version number.</p>
                  <p><b>Set Main Python File:</b> Set your main python file for running your application. This must have the extension '.py'</p>
                  <p><b>Add Support File:</b> (optional) Add supporting python files for your application. These files are placed in the lib package. Be sure your main python application imports support files from 'lib'.
                    E.g. <p><code>from lib import <i>your_file</i></code></p> These file must all also have the extension '.py' Support file names must be unique. </p>
                  <p><b>Add Icon Image:</b> (optional) Give your application an icon. Custom icons should be 125px x 125px </p>">
                </legend>
                <div class="form-group">
                    {{ form.script_name.label(class="form-control-label") }}
                    {% if form.script_name.errors %}
                        {{ form.script_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.script_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.script_name(autocomplete="off", class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.author.label(class="form-control-label") }}
                    {% if form.author.errors %}
                        {{ form.author(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.author.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.author(autocomplete="off", class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.website.label(class="form-control-label") }}
                    {% if form.website.errors %}
                        {{ form.website(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.website.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.website(autocomplete="off", class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.script.label() }}
                    {{ form.script(class="form-control-file") }}
                    {% if form.script.error %}
                      {% for error in form.script.errors %}
                          <span> class="text-danger">{{ error }}</span></br>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <div class="form-group">
                      {{ form.script_helpers.label() }}
                      {{ form.script_helpers(class="form-control-file") }}
                      {% if form.script_helpers.error %}
                        {% for error in form.script_helpers.errors %}
                            <span> class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                      {% endif %}
                    </div>
                  <div class="form-group">
                      {{ form.icon.label() }}
                      {{ form.icon(class="form-control-file") }}
                      {% if form.icon.error %}
                        {% for error in form.icon.errors %}
                            <span> class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                      {% endif %}
                    </div>
                    <div class="form-check">
                        {{ form.run_in_bkrd(class="form-check-input") }}
                        {{ form.run_in_bkrd.label(class="form-check-label") }}
                        <p></p>
                    </div>
            </fieldset>
            <div class="form-group">
                {{ form.upload(class="btn btn-dark") }}
                <a href="{{ url_for('application_store.app_store') }}" class="btn btn-dark" onclick="loading();" role="button">Cancel</a>
            </div>
        </form>
    </div>
  </div>
{% endblock content %}
