{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom border-dark mb-4 text-center">Editing: {{ application.script_name }}</legend>
                <div class="icon">
                  <img align="right" src="{{ url_for('static', filename='icons/info.svg') }}" width="24px" height="24px" data-toggle="popover" data-placement="left" title="How to Upload an SDK Application" data-html="true" data-content="
                  <p><b>Name:</b> (optional) Change your application's name</p>
                  <p><b>Description:</b> (optional) Change your application's description</p>
                  <p><b>Set Main Python File:</b> (optional) Change your main python file for running your application. This deletes the old main file. This must have the extension '.py'</p>
                  <p><b>Add Support File:</b> (optional) Add supporting python files for your application. These files are placed in the lib package. Be sure your main python application imports support files from 'lib'.
                    E.g. from lib import <i>your_file</i> These file must all also have the extension '.py' Support file names must be unique. </p>
                  <p><b>Add Icon Image:</b> (optional) Give your application an icon. Custom icons should be 125px x 125px </p>
                  <p><b>Support Files:</b> Replace/delete your support files</p>">
                </div>
                {% if application.icon != 'default.png' %}
                  <img src="/static/app_icons/{{ application.icon }}" width="64px" height="64px" class="rounded icon mx-auto d-block">
                {% endif %}
                <div class="form-group">
                    {{ form.script_name.label(class="form-control-label") }}
                    {% if form.script_name.errors %}
                        {{ form.script_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.script_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.script_name(autocomplete="off", onsubmit="loading();", class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(onsubmit="loading();", class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.script.label() }}
                    {{ form.script(class="form-control-file") }}
                    {% if form.script.error %}
                      {% for error in form.script.errors %}
                          <span> class="text-danger">{{ error }}</span></br>
                      {% endfor %}
                    {% endif %}
                  </div>
                <div class="form-group">
                    {{ form.script_helpers.label() }}
                    {{ form.script_helpers(class="form-control-file") }}
                    {% if form.script_helpers.error %}
                      {% for error in form.script_helpers.errors %}
                          <span> class="text-danger">{{ error }}</span></br>
                      {% endfor %}
                    {% endif %}
                  </div>
                <div class="form-group">
                    {{ form.icon.label() }}
                    {{ form.icon(class="form-control-file") }}
                    {% if form.icon.error %}
                      {% for error in form.icon.errors %}
                          <span> class="text-danger">{{ error }}</span></br>
                      {% endfor %}
                    {% endif %}
                  </div>
            </fieldset>
            <div class="form-group">
              {% if support_files_first %}
                <h5>Support Files</h5>
              {% endif %}
              {% for file in support_files %}
                <p><font color="#898F91">
                  {{ file.file_name }}
                  <a href="/delete_support_file/{{ file.id }}">
                  <img class="icon" align="right" src="{{ url_for('static', filename='icons/trash.svg') }}" width="32px" height="32px" data-toggle="tooltip" data-placement="top" title="Delete {{ file.file_name }}">
                  </a>
                </p>
              {% endfor %}
            </div>
            <div class="form-group">
                {{ form.update(class="btn btn-dark") }}
                <a href="/delete_application/{{ script_id }}" class="btn btn-dark" onclick="loading();" role="button">Delete Application</a>
                <a href="/home" class="btn btn-dark" onclick="loading();" role="button">Cancel</a>
            </div>
        </form>
    </div>
  </div>
  <div class="border-top border-dark pt-3">
  </div>
{% endblock content %}
