{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom border-dark mb-4 text-center">Editing: {{ application.script_name }}</legend>
                <div class="row image-container border-bottom border-dark mb-4">
                  <div class="column icon" data-toggle="tooltip" data-placement="top" title="Application Settings">
                    <a href="{{ url_for('application_system.edit_app_settings_file', hex_id=application.hex_id) }}">
                    <img src="{{ url_for('static', filename='icons/settings-menu.svg') }}" width="32px" height="32px">
                    </a>
                  </div>
                  <div class="column icon" data-toggle="tooltip" data-placement="top" title="Delete Application">
                    <a href="{{ url_for('application_system.delete_application', script_id=script_id) }}">
                    <img src="{{ url_for('static', filename='icons/trash-menu.svg') }}" width="32px" height="32px">
                    </a>
                  </div>
                  <div class="column icon" data-toggle="tooltip" data-placement="top" title="Export Application">
                    <a href="{{ url_for('application_store.export_application', script_id=script_id) }}">
                    <img src="{{ url_for('static', filename='icons/download-menu.svg') }}" width="32px" height="32px">
                    </a>
                  </div>
                </div>
                <div class="text-center">
                  <p>Hex ID: {{ application.hex_id }}</p>
                </div>
                <div class="">
                  <img align="right" src="{{ url_for('static', filename='icons/info.svg') }}" width="24px" height="24px" data-toggle="popover" data-placement="left" title="Editing an SDK Application" data-html="true" data-content="
                  <p><b>Name:</b> (optional) Change your application's name</p>
                  <p><b>Description:</b> (optional) Change your application's description</p>
                  <p><b>Set Main Python File:</b> (optional) Change your main python file for running your application. This deletes the old main file. This must have the extension '.py'</p>
                  <p><b>Add Support File:</b> (optional) Add supporting python files for your application. These files are placed in the lib package. Be sure your main python application imports support files from 'lib'.
                    E.g. <p><code>from lib import <i>your_file</i></code></p> These file must all also have the extension '.py' Support file names must be unique. </p>
                  <p><b>Add Icon Image:</b> (optional) Give your application an icon. Custom icons should be 125px x 125px </p>
                  ">
                </div>
                {% if application.icon != 'default.png' %}
                  <img src="{{ url_for('static', filename='app_icons/' + application.icon) }}" class="rounded mx-auto d-block">
                {% endif %}
                <div class="form-group">
                    {{ form.script_name.label(class="form-control-label") }}
                    {% if form.script_name.errors %}
                        {{ form.script_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.script_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.script_name(autocomplete="off", onsubmit="loading();", class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(onsubmit="loading();", class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.author.label(class="form-control-label") }}
                    {% if form.author.errors %}
                        {{ form.author(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.author.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.author(autocomplete="off", class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.website.label(class="form-control-label") }}
                    {% if form.website.errors %}
                        {{ form.website(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.website.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.website(autocomplete="off", class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.script.label() }}
                    {{ form.script(class="form-control-file") }}
                    {% if form.script.error %}
                      {% for error in form.script.errors %}
                          <span> class="text-danger">{{ error }}</span></br>
                      {% endfor %}
                    {% endif %}
                  </div>
                <div class="form-group">
                    {{ form.script_helpers.label() }}
                    {{ form.script_helpers(class="form-control-file") }}
                    {% if form.script_helpers.error %}
                      {% for error in form.script_helpers.errors %}
                          <span> class="text-danger">{{ error }}</span></br>
                      {% endfor %}
                    {% endif %}
                  </div>
                <div class="form-group">
                    {{ form.icon.label() }}
                    {{ form.icon(class="form-control-file") }}
                    {% if form.icon.error %}
                      {% for error in form.icon.errors %}
                          <span> class="text-danger">{{ error }}</span></br>
                      {% endfor %}
                    {% endif %}
                  </div>
            </fieldset>
            <div class="form-check">
              <p>
                {{ form.run_in_bkrd(class="form-check-input") }}
                {{ form.run_in_bkrd.label(class="form-check-label") }}
              </p>
            </div>
            <div class="form-group">
              <h5>Support Files</h5>
              <p></p>
              {% for file in support_files %}
                {% if '.ini' in file.file_name %}
                {% else %}
                  <p><font color="#898F91">
                    {{ file.file_name }}
                    <a href="{{ url_for('application_system.delete_support_file', file_id=file.id) }}">
                    <img class="" align="right" src="{{ url_for('static', filename='icons/trash.svg') }}" width="18px" height="18px" data-toggle="tooltip" data-placement="top" title="Delete {{ file.file_name }}">
                    </a>
                  </p>
                {% endif %}
              {% endfor %}
            </div>
            <div class="form-group">
                {{ form.update(class="btn btn-dark") }}
                <a href="{{ url_for('main.home') }}" class="btn btn-dark" onclick="loading();" role="button">Cancel</a>
            </div>
        </form>
    </div>
  </div>
  <div class="border-top border-dark pt-3">
  </div>
{% endblock content %}
