{% extends "settings/settings.html" %}
{% block settings %}
<form method="POST" action="" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="form-group">
      <h3 class="text-center">{{ form.package.label() }}</h3>
        {{ form.package(class="form-control-file") }}
        {% if form.package.error %}
          {% for error in form.package.errors %}
              <span> class="text-danger">{{ error }}</span></br>
          {% endfor %}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.install(class="btn btn-dark") }}
      </div>
      <div class="border-top border-dark">
        <p></p>
      </div>
  </fieldset>
</form>
    <h3 class="text-center">App Store</h3>
    <div class="border-bottom border-dark mb-4">
      {% for app in app_list %}
      <div class="border-top border-dark pt-3">
        {% if app.installed == True %}
          <div>
            <img class="store-icon" align="right" src="{{ url_for('static', filename='icons/installed.svg') }}" width="20px" height="20px" data-toggle="tooltip" data-placement="top" title="Installed">
          </div>
        {% elif app.installed == False %}
          <div>
            <a href="{{ url_for('application_store.install_store_application', script_id=app.id) }}">
            <img class="store-icon" align="right" src="{{ url_for('static', filename='icons/download.svg') }}" width="20px" height="20px" data-toggle="tooltip" data-placement="top" title="Install">
            </a>
          </div>
        {% endif %}
        <div>
          <img class="store-icon" align="right" src="{{ url_for('static', filename='icons/info.svg') }}" width="18px" height="18px" data-toggle="popover" data-placement="top" title="{{ app.script_name }}" data-html="true" data-content="
          <p><b>Author:</b> {{ app.author }}</p>
          <p><b>Website:</b> {{ app.website }}</p>
          <p><b>Description:</b> {{ app.description }}</p>
          ">
        </div>
        <div align="left">
          <img class="store-icon-main" src="{{ url_for('static', filename='app_icons/' + app.icon) }}" width="48px" height="48px">
          <b>{{ app.script_name }}</b>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
