{% extends "settings/settings.html" %}
{% block settings %}
<legend class="border-bottom border-dark legend-box text-center"><b>
Credits</b></legend>

<div class="text-center border-bottom border-dark">
  <h4>- VectorCloud -</h4>
  <div class="border-top border-dark"></div>
  <div class="grey-text mt-2 mb-4">
    rmountjoy
    <div class="grey-text-small">
      <a href="https://github.com/rmountjoy92/">Github Page</a>
    </div>
  </div>
  <h4>- Icons -</h4>
  <div class="border-top border-dark"></div>
  <div class="grey-text-small mt-2 mb-4">
    <div><a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div><a href="https://www.freepik.com/" title="Freepik">Freepik</a> <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div><a href="https://www.flaticon.com/authors/google" title="Google">Google</a> <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div><a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div><a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div><a href="https://www.flaticon.com/authors/egor-rumyantsev" title="Egor Rumyantsev">Egor Rumyantsev</a> <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div><a href="https://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu">Bogdan Rosu</a> <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
  <h4>- Flask Tutorials -</h4>
  <div class="border-top border-dark"></div>
  <div class="grey-text mt-2 mb-4">
    CoreyMs
    <div class="grey-text-small">
      <a href="http://coreyms.com">Website</a>
    </div>
  </div>
  <h4>- Special Thanks -</h4>
  <div class="border-top border-dark"></div>
  <div class="grey-text mt-2 mb-4">
    Docker Instructions -
    dobbs
    <div class="grey-text-small">
      <a href="https://github.com/dobbs">Website</a>
    </div>
  </div>
</div>
{% endblock %}
