{% extends "layout.html" %}
{% block content %}
<div class="wiki-icon">
    <a data-toggle="collapse" href="#wiki-nav" role="button" aria-expanded="false" aria-controls="collapseExample">
      <img class=""
           src="{{ url_for('static', filename='icons/arrow-down.svg') }}"
           width="24px" height="24px">
      <text class="grey-text-md">
        Settings
      </text>
    </a>

  <div class="collapse" id="wiki-nav">
    <div class="list-group">
      <a href="{{ url_for('settings_system.settings') }}"
      class="list-group-item wiki-list wiki-container">
      <img src="{{ url_for('static', filename='icons/settings-menu.svg') }}" width="24px" height="24px">
      <div class="menu-icon-text">
        General
      </div>
      </a>

      <a href="{{ url_for('settings_system.settings_user') }}"
      class="list-group-item wiki-list wiki-container">
      <img class="wiki-nav-icon" src="{{ url_for('static', filename='icons/user.svg') }}" width="24px" height="24px">
      <div class="menu-icon-text">
        User
      </div>
      </a>

      <a href="{{ url_for('manage_vectors.manage') }}"
      class="list-group-item wiki-list wiki-container">
      <img class="wiki-nav-icon" src="{{ url_for('static', filename='icons/vector-green.svg') }}" width="28px" height="28px">
      <div class="menu-icon-text">
        Vectors
      </div>
      </a>

      <a href="{{ url_for('update_system.update') }}"
      class="list-group-item wiki-list wiki-container">
      <img class="wiki-nav-icon" src="{{ url_for('static', filename='icons/update.svg') }}" width="24px" height="24px">
      <div class="menu-icon-text">
        Update
      </div>
      </a>

      <a href="{{ url_for('settings_system.credits') }}"
      class="list-group-item wiki-list wiki-container">
      <img class="wiki-nav-icon" src="{{ url_for('static', filename='icons/credits.svg') }}" width="24px" height="24px">
      <div class="menu-icon-text">
        Credits
      </div>
      </a>


    </div>
  </div>
</div>
    <div class="content-section">
      {% block settings %}{% endblock %}
    </div>
  {% block app_store %}{% endblock %}
{% endblock content %}
