{% extends "home/home.html" %}
{% block view %}
<div>
  <a href="{{ url_for('main.set_card_view') }}">
  <img class="store-icon" align="right" src="{{ url_for('static', filename='icons/card.svg') }}" width="18px" height="24px" data-toggle="tooltip" data-placement="top" title="Card view">
  </a>
</div>
{% endblock view %}
{% block applications %}
    <div class="content-section">
      <div class="border-bottom border-dark">
        {% if not app_list %}
        <p></p>
        <div class="text-center">
          <a href="{{ url_for('application_store.app_store') }}">
          <img class="mb-4" src="{{ url_for('static', filename='icons/package-grey.svg') }}" width="128px" height="128px" data-toggle="tooltip" data-placement="top" title="App Store">
          </a>
          <div class="grey-text">
            <p>No applications installed. Go to the app store or upload a local package.</p>
          </div>
        </div>
        {% endif %}
        {% for app in app_list %}
        <div class="border-top border-dark pt-3">
          <div>
            <a href="{{ url_for('application_system.edit_application', script_id=app.id) }}">
            <img class="store-icon" align="right" src="{{ url_for('static', filename='icons/edit.svg') }}" width="18px" height="18px" data-toggle="tooltip" data-placement="top" title="Edit">
            </a>
          </div>
          <div>
            <img class="store-icon"
                 align="right" src="{{ url_for('static', filename='icons/info.svg') }}"
                 width="18px"
                 height="18px"
                 data-toggle="popover"
                 data-placement="top"
                 title="<img src='{{ url_for('static', filename='app_icons/' + app.icon) }}' height='48px' width='48px'> {{ app.script_name }} <a href='#' class='close' data-dismiss='alert'>&times;</a>"
                 data-html="true"
                 data-content="
            <p><b>Author:</b> {{ app.author }}</p>
            <p><b>Website:</b> {{ app.website }}</p>
            <p><b>Description:</b> {{ app.description }}</p>
            ">
          </div>
          {% if app.pid != None %}
            <a href="{{ url_for('application_system.kill_process', pid=app.pid) }}">
            <img class="list-view-spinner" align="right" src="{{ url_for('static', filename='icons/running_in_bkrd.svg') }}" data-toggle="tooltip" data-placement="top" title="Process Running. Click here to kill.">
            </a>
          {% endif %}
          <div align="left">
            <a href="{{ url_for('application_system.run_script', script_hex_id=app.hex_id) }}" onclick="loading();">
            <img class="store-icon-main" src="{{ url_for('static', filename='app_icons/' + app.icon) }}" width="48px" height="48px">
            <b>{{ app.script_name }}</b>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock applications %}
