{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" >Vector Status</a>
            </div>
            <p class="article-content">Battery voltage: {{ vector_status['status_voltage'] }}</p>
            <p class="article-content">Battery level: {{ vector_status['status_battery_level'] }}</p>
            <p class="article-content">Is on charger: {{ vector_status['status_charging'] }}</p>
            <p class="article-content">Cube battery level: {{ vector_status['status_cube_battery_level'] }}</p>
            <p class="article-content">Cube battery volts: {{ vector_status['status_cube_battery_volts'] }}</p>
            <p class="article-content">Cube Factory ID: {{ vector_status['status_cube_id'] }}</p>
            <a href="/" class="btn btn-dark" role="button">Refresh</a>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" >Vector Commands</a>
            </div>
            <a href="/undock" class="btn btn-dark" role="button">Undock</a>
            <a href="/dock" class="btn btn-dark" role="button">Dock</a>
          </div>
        </article>
{% endblock content %}
