body {
  background: #29353B;
  color: #00EE93;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #00EE93;
}

.bg-steel {
  background-color: #222D32;
}

.site-header .navbar-nav .nav-link {
  color: #00EE93;
}

.site-header .navbar-nav .nav-link:hover {
  color: #596165;
}


.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #222D32;
  padding: 10px 20px;
  border: 1px solid #00EE93;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #00EE93;
}

a.article-title:hover {
  color: #ffffff;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #00EE93
}

.article-metadata a:hover {
  color: #00EE93;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.form-control {
  background-color: #29353B; border-width: 0px; color: #ffffff;
}

.form-control:focus {
  border-width: 2px; border-color: #00EE93; background-color: #29353B; color: #ffffff;
}

.list-group-item {
  background-color: #29353B;
}

.btn-group {
  padding-left: 15px;
  padding-right: 15px;
}

a {
    color: #00EE93;
}

a:hover {
    color: white;
}

.icon {
  padding: 0px 5px 0px 5px;
}

/* Tooltip */
.test + .tooltip > .tooltip-inner {
    background-color: #73AD21;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}

/* Tooltip on top */
.test + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid green;
}

/* Tooltip on bottom */
.test + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid blue;
}

/* Tooltip on left */
.test + .tooltip.left > .tooltip-arrow {
    border-left: 5px solid red;
}

/* Tooltip on right */
.test + .tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
}
